<template>
  <div class="preloader" style="background-color: #eee; position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 999;">
    <div class="waves">
      <div class="circle-1"></div>
      <div class="circle-2"></div>
      <div class="circle" style="border-radius: 50%;"><img src="../../../assets/images/landing/logo-sm.png" alt="bitcollege"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Loader',
};
</script>