<template>
  <div>

    <!-- Header -->
    <header id="header-1">
      <div class="background-img bckg-1"></div>
      <div class="header-masc">
        <!-- Background animation -->
        <!--<div class="clouds">-->
          <!--<div class="cloud-1 bckg-2"></div>-->
          <!--<div class="cloud-2 bckg-3"></div>-->
        <!--</div>-->
        <!-- Background animation end -->
        <!-- Social icons -->
        <div class="social-icons">
          <ul>
            <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://t.me/joinchat/AAAAAE_Dh5q_ZUROdQDSSw" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        <!-- Social icons end -->
        <!-- Background animation end -->
        <div class="container header-container">
          <div class="row">
            <div class="col-md-8 col-sm-12 main-title">
              <div class="type-js headline">
                <!-- Main header title -->
                <h1 class="white">5 Easy Steps <b> Registration</b></h1>
                <!-- Main header suptitle -->
                <h3 class="white"><i>Follow the <span data-typer-targets="Images!,Instructions"></span></i></h3>
                <br>
                <h5 style="color: white; text-align: left;margin-bottom: 20px;font-weight: bold;">
                  <br><br>
                  0.Set username to your Telegram profile.
                  <br><br>
                  1.Click "Contacts".
                  <br><br>
                  2.Click the Plus icon(add new contact).
                  <br><br>
                  3.Add a contact  Number +38066-56-22-751 and approve.
                  <br><br>
                  4.Now you can go to Login Page.
                  <br><br>
                </h5>
                <!-- Appstore button -->
                <a v-if="user.ref" :href="'/login?ref=' + user.ref" class="btn dwnld-btn appstore"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Login</a>
                <a v-if="!user.ref" href="/login" class="btn dwnld-btn appstore"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Login</a>
                <!-- Playmarket button -->
                <a href="/" class="btn dwnld-btn playmarket"><i class="fa fa-home" aria-hidden="true"></i>&nbsp; Home</a>
              </div>
            </div>

            <div class="col-md-4 col-sm-0 header-phone wow fadeInUp team-main" data-wow-duration="1.3s">
              <div class="ilustration">
                <!-- Phone -->
                <div class="front-phone wow fadeInUp" data-wow-duration="1.7s">
                  <div class="iphone single-iphone">
                    <i></i>
                    <b></b>
                    <div class="header-slider owl-carousel">
                      <div class="slide">
                        <!-- Screenshon 1 -->
                        <img src="../assets/images/landing/S1.png" alt="Screenshot">
                      </div>
                      <div class="slide">
                        <!-- Screenshon 2 -->
                        <img src="../assets/images/landing/S2.png">
                      </div>
                      <div class="slide">
                        <!-- Screenshon 3 -->
                        <img src="../assets/images/landing/S3.png">
                      </div>
                      <!--<div class="slide">-->
                        <!--&lt;!&ndash; Screenshon 4 &ndash;&gt;-->
                        <!--<img src="../assets/images/landing/4.png">-->
                      <!--</div>-->

                    </div>
                    <div class="bottom-panel-android">
                      <ul>
                        <li><span class="fa fa-bars" aria-hidden="true"></span></li>
                        <li><span class="fa fa-square-o" aria-hidden="true"></span></li>
                        <li><span class="fa fa-chevron-left" aria-hidden="true"></span></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Phone end -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </header>
    <!-- Header end-->

  </div>
</template>

<script>
  import axios from 'axios';
  import lockr from 'lockr';

  export default {
    name: 'Register',
    data () {
      return {
        user: {
          ref: ''
        }
      }
    },
    mounted () {
      if (this.$route.query.hasOwnProperty('ref')) {
        this.user.ref = this.$route.query.ref

        lockr.set('ref', this.user.ref)
        axios.post('/referrals/track', this.user);
      }

      //this.path = this.$route
      //console.log(this.path.path)
    }
  };

</script>
