/* -------------------------------------------

	Name: 		App ollo
	Author:		"Miller Digital Design" Nazar Miller
    Support:    miller.themes@gmail.com
	   		   
--------------------------------------------- */

.preloader,
.download,
.video,
.stats,
.features .future h4 i,
header,
.theme-background,
.team-item,
.panel-heading,
.waves .circle,
.scrolled,
.blog-item,
.color,
.optimal,
.masc,
.header-masc,
.pagination .active a {
    background: linear-gradient(45deg, hsla(252, 98%, 49%, 1) 0%, hsla(252, 98%, 49%, 0) 70%),
    linear-gradient(135deg, hsla(217, 98%, 59%, 1) 10%, hsla(217, 98%, 59%, 0) 80%),
    linear-gradient(225deg, hsla(252, 94%, 43%, 1) 10%, hsla(252, 94%, 43%, 0) 80%),
    linear-gradient(315deg, hsla(189, 95%, 48%, 1) 100%, hsla(189, 95%, 48%, 0) 70%);
}

@media (max-width: 992px) {
    .navbar,
    .navbar-collapse {
        background: linear-gradient(45deg, hsla(252, 98%, 49%, 1) 0%, hsla(252, 98%, 49%, 0) 70%),
        linear-gradient(135deg, hsla(217, 98%, 59%, 1) 10%, hsla(217, 98%, 59%, 0) 80%),
        linear-gradient(225deg, hsla(252, 94%, 43%, 1) 10%, hsla(252, 94%, 43%, 0) 80%),
        linear-gradient(315deg, hsla(189, 95%, 48%, 1) 100%, hsla(189, 95%, 48%, 0) 70%);
    }
}

h4 .color {
    background-color: hsla(252, 98%, 49%, 1);
}

::-webkit-scrollbar-thumb {
    background: hsla(252, 98%, 49%, 1);
}

/*** transparent gradient ***/

.header-masc,
.masc {
    background: linear-gradient(45deg, hsla(252, 98%, 49%, .5) 0%, hsla(252, 98%, 49%, 0) 70%),
    linear-gradient(135deg, hsla(217, 98%, 59%, .5) 10%, hsla(217, 98%, 59%, 0) 80%),
    linear-gradient(225deg, hsla(252, 94%, 43%, .5) 10%, hsla(252, 94%, 43%, 0) 80%),
    linear-gradient(315deg, hsla(189, 95%, 48%, .5) 100%, hsla(189, 95%, 48%, 0) 70%);
}
