<template>
  <div>
    <!-- Preloader -->
    <loader />
    <!-- Preloader end-->

    <!-- Navigation panel-->
    <navigation />
    <!-- Navigation panel end-->

    <router-view />

    <!-- Footer section -->
    <div :class="{'hide-footer': (path === '/sign-up' || path === '/login')}">
      <footer-component />
    </div>
    <!-- Footer section end-->
  </div>
</template>

<script>
  import './assets/css/owl.carousel.css';
  import './assets/css/owl.theme.default.css';

  // import $ from 'jquery';
  // import 'bootstrap/dist/js/bootstrap.bundle.min';
  import 'owl.carousel/dist/owl.carousel';
  import WOW from 'wowjs/dist/wow.min';
  import 'lity/dist/lity.min';
  import 'smoothscroll-for-websites/SmoothScroll';
  import 'waypoints/lib/jquery.waypoints.min';
  import 'jquery.counterup/jquery.counterup.min';

  import Loader from './components/Base/Landing/Loader.vue';
  import Navigation from './components/Base/Landing/Navigation.vue';
  import FooterComponent from './components/Base/Landing/Footer.vue';

  export default {
    name: 'Landing',

    components: {
      Loader,
      Navigation,
      FooterComponent,
    },

    computed: {
      path: function () {
        return this.$route.path
      }
    },

    mounted() {
      String.prototype.rightChars = function(n){
        if (n <= 0) {
          return "";
        }
        else if (n > this.length) {
          return this;
        }
        else {
          return this.substring(this.length, this.length - n);
        }
      };

      (function($) {
        var
          options = {
            highlightSpeed    : 20,
            typeSpeed         : 100,
            clearDelay        : 500,
            typeDelay         : 200,
            clearOnHighlight  : true,
            typerDataAttr     : 'data-typer-targets',
            typerInterval     : 3000
          },
          highlight,
          clearText,
          backspace,
          type,
          spanWithColor,
          clearDelay,
          typeDelay,
          clearData,
          isNumber,
          typeWithAttribute,
          getHighlightInterval,
          getTypeInterval,
          typerInterval;

        $('body').removeClass('pace-on').removeClass('pace-running').removeClass('pace-running')

        spanWithColor = function(color, backgroundColor) {
          if (color === 'rgba(0, 0, 0, 0)') {
            color = 'rgb(155, 155, 155)';
          }

          return $('<span></span>')
            .css('color', color)
            .css('background-color', backgroundColor);
        };

        isNumber = function (n) {
          return !isNaN(parseFloat(n)) && isFinite(n);
        };

        clearData = function ($e) {
          $e.removeData([
            'typePosition',
            'highlightPosition',
            'leftStop',
            'rightStop',
            'primaryColor',
            'backgroundColor',
            'text',
            'typing'
          ]);
        };

        type = function ($e) {
          var
            // position = $e.data('typePosition'),
            text = $e.data('text'),
            oldLeft = $e.data('oldLeft'),
            oldRight = $e.data('oldRight');

          // if (!isNumber(position)) {
          // position = $e.data('leftStop');
          // }

          if (!text || text.length === 0) {
            clearData($e);
            return;
          }


          $e.text(
            oldLeft +
            text.charAt(0) +
            oldRight
          ).data({
            oldLeft: oldLeft + text.charAt(0),
            text: text.substring(1)
          });

          // $e.text($e.text() + text.substring(position, position + 1));

          // $e.data('typePosition', position + 1);

          setTimeout(function () {
            type($e);
          }, getTypeInterval());
        };

        clearText = function ($e) {
          $e.find('span').remove();

          setTimeout(function () {
            type($e);
          }, typeDelay());
        };

        highlight = function ($e) {
          var
            position = $e.data('highlightPosition'),
            leftText,
            highlightedText,
            rightText;

          if (!isNumber(position)) {
            position = $e.data('rightStop') + 1;
          }

          if (position <= $e.data('leftStop')) {
            setTimeout(function () {
              clearText($e);
            }, clearDelay());
            return;
          }

          leftText = $e.text().substring(0, position - 1);
          highlightedText = $e.text().substring(position - 1, $e.data('rightStop') + 1);
          rightText = $e.text().substring($e.data('rightStop') + 1);

          $e.html(leftText)
            .append(
              spanWithColor(
                $e.data('backgroundColor'),
                $e.data('primaryColor')
              )
                .append(highlightedText)
            )
            .append(rightText);

          $e.data('highlightPosition', position - 1);

          setTimeout(function () {
            return highlight($e);
          }, getHighlightInterval());
        };

        typeWithAttribute = function ($e) {
          var targets;

          if ($e.data('typing')) {
            return;
          }

          try {
            targets = JSON.parse($e.attr($.typer.options.typerDataAttr)).targets;
          } catch (e) {}

          if (typeof targets === "undefined") {
            targets = $.map($e.attr($.typer.options.typerDataAttr).split(','), function (e) {
              return $.trim(e);
            });
          }

          $e.typeTo(targets[Math.floor(Math.random()*targets.length)]);
        };

        // Expose our options to the world.
        $.typer = (function () {
          return { options: options };
        })();

        $.extend($.typer, {
          options: options
        });

        //-- Methods to attach to jQuery sets

        $.fn.typer = function() {
          var $elements = $(this);

          return $elements.each(function () {
            var $e = $(this);

            if (typeof $e.attr($.typer.options.typerDataAttr) === "undefined") {
              return;
            }

            typeWithAttribute($e);
            setInterval(function () {
              typeWithAttribute($e);
            }, typerInterval());
          });
        };

        $.fn.typeTo = function (newString) {
          var
            $e = $(this),
            currentText = $e.text(),
            i = 0,
            j = 0;

          if (currentText === newString) {
            console.log("Our strings our equal, nothing to type");
            return $e;
          }

          if (currentText !== $e.html()) {
            console.error("Typer does not work on elements with child elements.");
            return $e;
          }

          $e.data('typing', true);

          while (currentText.charAt(i) === newString.charAt(i)) {
            i++;
          }

          while (currentText.rightChars(j) === newString.rightChars(j)) {
            j++;
          }

          newString = newString.substring(i, newString.length - j + 1);

          $e.data({
            oldLeft: currentText.substring(0, i),
            oldRight: currentText.rightChars(j - 1),
            leftStop: i,
            rightStop: currentText.length - j,
            primaryColor: $e.css('color'),
            backgroundColor: $e.css('background-color'),
            text: newString
          });

          highlight($e);

          return $e;
        };

        //-- Helper methods. These can one day be customized further to include things like ranges of delays.

        getHighlightInterval = function () {
          return $.typer.options.highlightSpeed;
        };

        getTypeInterval = function () {
          return $.typer.options.typeSpeed;
        },

          clearDelay = function () {
            return $.typer.options.clearDelay;
          },

          typeDelay = function () {
            return $.typer.options.typeDelay;
          };

        typerInterval = function () {
          return $.typer.options.typerInterval;
        };

        //preloader
        $(window).on("load", function () {
          $('.preloader').delay(500).fadeOut('slow');
        });

        //add section class
        $("#header-1").addClass("header-1")
        $("#header-2").addClass("header-2")
        $("#header-carousel").addClass("header-carousel")
        $("#start").addClass("start")
        $("#about").addClass("about")
        $("#video").addClass("video")
        $("#features").addClass("features")
        $("#screenshots").addClass("screenshots")
        $("#download").addClass("download")
        $("#reviews").addClass("reviews")
        $("#team").addClass("team")
        $("#stats").addClass("stats")
        $("#price").addClass("price")
        $("#faq").addClass("faq")
        $("#blog").addClass("blog")

        //typed animation text
        $('[data-typer-targets]').typer();
        $.typer.options.clearOnHighlight=false;

        //navigation scrollspy
        var lastId,
          topMenu = $("#navigation"),
          topMenuHeight = topMenu.outerHeight() - 60,
          menuItems = topMenu.find("a:not(.navbar-brand)"),
          scrollItems = menuItems.map(function () {
            var item = $($(this).attr("href"));
            if (item.length) {
              return item;
            }
          });

        menuItems.on("click", function (e) {
          var href = $(this).attr("href"),
            offsetTop = href === "#" ? 0 : $(href).offset().top - topMenuHeight + 1;
          //scrollspy smooth scroll. default speed: 1200
          $('html, body').stop().animate({
            scrollTop: offsetTop
          }, 1200);
          e.preventDefault();
        });

        $(window).on("scroll", function () {
          var fromTop = $(this).scrollTop() + topMenuHeight;
          var cur = scrollItems.map(function () {
            if ($(this).offset().top < fromTop)
              return this;
          });
          cur = cur[cur.length - 1];
          var id = cur && cur.length ? cur[0].id : "";
          if (lastId !== id) {
            lastId = id;
            menuItems
              .parent().removeClass("active")
              .end().filter("[href='#" + id + "']").parent().addClass("active");
          }

          //navbar color after scroll
          if ($(this).scrollTop() > 100) {
            $('.navbar').addClass("scrolled");
            $('.navbar').removeClass("no-scrolled");
          } else {
            $('.navbar').removeClass("scrolled");
            $('.navbar').addClass("no-scrolled");
          }
        });

        // burger menu button
        $(window).on("click", function () {
          $(".burger-menu").toggleClass("menu-on");
        });

        // wow
        new WOW.WOW().init();

        // counterup
        $('.counter').counterUp({
          delay: 10,
          time: 2000
        });

        // header slider
        $("#header-carousel").owlCarousel({
          loop: true,
          mouseDrag: false,
          touchDrag: false,
          nav: true,
          navSpeed: 100,
          autoplay: true,
          autoplayTimeout: 10000,
          dots: false,
          animateOut: 'fadeOut',
          animateIn: 'fadeIn',
          navText: ['<i class="fa fa-chevron-left" aria-hidden="true"></i>', '<i class="fa fa-chevron-right" aria-hidden="true"></i>'],
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        })

        // header screenshots slider
        $('.header-slider').owlCarousel({
          animateOut: 'fadeOut',
          mouseDrag: false,
          dots: true,
          loop: true,
          navText: [''],
          dots: false,
          items: 1,
          autoplay: true,
          smartSpeed: 450
        });

        //screenshots slider
        $('.screenshots-slider').owlCarousel({
          center: true,
          items: 2,
          loop: true,
          navSpeed: 900,
          nav: false,
          dots: true,
          dotsSpeed: 900,
          navText: ['', ''],
          navText: ['<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>', '<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>'],
          responsive: {
            375: {
              items: 2,
              navText: ['<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>', '<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>'],
            },
            768: {
              items: 4,
              navText: ['<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>', '<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>'],
            },
            992: {
              items: 6,
              navText: ['<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>', '<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>'],
            },
            1200: {
              items: 6,
              navText: ['<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>', '<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>'],
            }
          }
        });

        //reviews-slider
        $('.reviews-slider').owlCarousel({
          center: true,
          items: 1,
          loop: true,
          navSpeed: 900,
          dots: true,
          dotsSpeed: 900,
          navText: ['', ''],
          navText: ['<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>', '<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>'],
          responsive: {
            375: {
              items: 1,
              navText: ['<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>', '<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>'],
            },
            550: {
              items: 2,
              navText: ['<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>', '<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>'],
            },
            992: {
              items: 4,
              navText: ['<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>', '<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>'],
            }
          }
        });

      })($);


    }
  };
</script>


<style src="./assets/css/bootstrap.min.css"></style>
<style src="./assets/css/animations.css"></style>
<style src="./assets/css/font-awesome.min.css"></style>
<style src="./assets/css/animate.css"></style>
<style src="./assets/css/lity.css"></style>
<style src="./assets/css/style.css"></style>
<style src="./assets/css/media-queries.css"></style>
<style src="./assets/css/color/cyan.css"></style>

<style>
  .bckg-1 {
    background-image: url(./assets/images/landing/photo-3-1.jpg);
  }

  .bckg-2 {
    background-image: url(./assets/images/landing/clouds-1.png);
  }

  .bckg-3 {
    background-image: url(./assets/images/landing/clouds-2.png);
  }

  .bckg-4 {
    background-image: url(./assets/images/landing/background-img.jpg);
  }

  .avatar-1 {
    background-image: url(./assets/images/landing/akita.jpg);
  }

  .avatar-2 {
    background-image: url(./assets/images/landing/rodik.jpg);
  }

  .avatar-3 {
    background-image: url(./assets/images/landing/tovia.jpg);
  }

  .avatar-4 {
    background-image: url(./assets/images/landing/gandalf.jpg);
  }
</style>

<style lang="scss">
  .country-name, .dial-code {
    font-size: 14px;
    font-weight: normal;
  }


  //Media
  @media (max-width: 600px) {
    .hide-footer {
      display: none;
    }

    .title-line {
      display: none;
    }

    .country-list {
      li {
        width: 288px;
      }
    }
  }
</style>
